In [ ]:
# Write your names here: Tyler Stowell
# 
# Turn this file in on moodle before you leave lab.

# A) String and String Concatenation
***

<img src="https://www.conversion-uplift.co.uk/wp-content/uploads/2016/09/Concatenation-image-1024x299.jpg" width=1201 height=50>

We’ve seen what operators work with numeric values — ints and floats — but what operators do you think work with strings? For instance, with "Conversion" and "Rate" in the example above.

### 1. Trying operators on Strings and Numbers
***
First type what you think would be the result of running the following commands? Then, run the commands to verify your answers.

In [ ]:
# TODO: Write down your guesses here (DO NOT RUN THE CELLS BEFORE GUESSING)
# 1) hithere
# 2) TypeError
# 3) TypeError
# 4) Sh
# 5) 24
# 6) TypeError
# 7) HaHaHaHa
# 8) zzzz
# 9) TypeError
# 10) TypeError

In [ ]:
# 1)
"Hi" + "there"

In [ ]:
# 2)
4 + "hamster"

In [ ]:
# 3)
"Electric" - "boogaloo"

In [ ]:
# 4)
"Shook" - "ook"

In [ ]:
# 5)
"2" + "4"

In [ ]:
# 6)
"2" - 4

In [ ]:
# 7)
"Ha" * 4

In [ ]:
# 8)
4 * "z"

In [ ]:
# 9)
"Hammer" / "time"

In [ ]:
# 10)
10 / "two"

### 2. Based on your answers above, what operators do you think we can use with strings?
***
Give one example of each using the cells below. How many operators can we use with strings?

In [ ]:
"happy"+"life"

In [ ]:
"help" * 4

In [ ]:
# you can only use addition and multiplication for strings

### 3. Fill in the missing parts in the following code so that it is complete:
***

In [ ]:
welcome = "Greetings, traveler, my name is"
name = " Tyler "
between = "and I have come to"
mission = " Fly"
print(welcome + name + between + mission) # print out the complete message here!

### 4. Write code to print the sentence, or vice versa!
***

To complete these tasks, you'll need to use special string sequences called "escape characters". These help you print characters that you otherwise wouldn't be able to, like a `"` or a newline.

To print a `"`, we type `\"`. To print a newline character, we type `\n`.

You might wonder how to print a `\` character because it has this special meaning—to print a single `\`, we will write two `\\`!

> This line is <br/>
On two lines

In [ ]:
# WRITE CODE TO PRINT THE SENTENCE ABOVE 
print("This line is \nOn two lines")
# (hint: use two print statements, then try to write it
# with only one print statement)

***

> "Boo!"

In [ ]:
# WRITE CODE TO PRINT THE SENTENCE ABOVE
print('"Boo!"')

***

> He said "but I like <br />
the ballet!"

In [ ]:
# WRITE CODE TO PRINT THE SENTENCE ABOVE (Use only one print statement)
print('He said "but I like\nthe ballet!"')

***

```python
print("There\" once\" was \"a \"frog\"")
```

In [ ]:
# WRITE THE RESULT OF THE COMMAND ABOVE

#There" once" was "a "frog"

***

```python
print("Don't they know that\n\"frogs\" are amphibians?")
```

In [ ]:
# WRITE THE RESULT OF THE COMMAND ABOVE
# Don't they know that
# "frogs" are amphibians?

***

> \n

In [ ]:
# WRITE CODE TO PRINT THE SENTENCE ABOVE
print("\\n")

***

# B) Type Casting
***

Sometimes we need to change a value from one type to another, if, for example, we want to combine a numeric value that we’ve just calculated with a string, we’ll need to change the numeric value into a string first. 

See Course Notes 2.3 for more information on casting.

We’ll use a special function, ```str()```, to do this. Try the following command:

In [ ]:
combined = "I have " + str(92) + " cats."
print(combined)

### Help Morgan!
***
Morgan has lost his measuring cups! He has managed to save just his tablespoon, and must convert his bread recipe to tablespoons.

| Recipe                            | Conversions                      |
|-----------------------------------|----------------------------------|
| 3 cups all-purpose or bread flour | 1 cup = 16 tablespoons           |
| .25 teaspoon instant yeast        | 1 teaspoon = .33 of a tablespoon |
| 1.25 teaspoons salt               |                                  |
| 1 5/8 cups water                  |                                  |
| Conversions                       |                                  |
| 1 cup = 16 tablespoons            |                                  |
| 1 teaspoon = .33 of a tablespoon  |                                  |

Write a program that tells Morgan how many tablespoons of each ingredient he will need.

In [ ]:
bread_flour = 16*3
bread_flour = str(bread_flour)
instant_yeast = .25*.33
instant_yeast = str(instant_yeast)
salt = 1.25*.33
salt = str(salt)
water = (1+(5/8))*16
water = str(water)
print(bread_flour + " tablespoons all-purpous or bread flower\n"+ instant_yeast + " tablespoons instant yeast\n"+ salt + " tablespoons salt\n"+ water + " tablespoons water")

# C) `input` function
***

Now, create a program that asks the user how much flour, yeast, and salt they will use, then converts it to tablespoons for them. 

Use the `input()` function (see course notes 2.4). Remember that it will give you a string, even if the user entered a number! Use the `int()` and `float()` functions as well as the `str()` function! 

Example output (__bold__ indicates user input):

<pre>
How many cups of flour do you need? <b>4</b>
How many teaspoons of yeast do you need? <b>.5</b>
How many teaspoons of salt do you need? <b>1.5</b>
How many cups of water do you need? <b>2</b>
You will use 64 tablespoons of flour, 0.165 tablespoons of yeast, 0.495 tablespoons of salt, and 32 tablespoons of water! Happy baking!
</pre>

In [ ]:
flour = input("How many cups of flour do you need?")
flour = int(flour) * 16
flour = str(flour)
yeast = input("How many teaspoons of yeast do you need?")
yeast = float(yeast) * 0.33
yeast = str(yeast)
salt = input("How many teaspoons of salt do you need?")
salt = float(salt) * 0.33
salt = str(salt)
water = input("How many cups of water do you need?")
water = int(water) *16
water = str(water)
print("You will use " + flour + " cups flour, " + yeast + " tablespoons of yeast, " + salt + " tablespoons of salt, " + water + " cups water!\n" "Happy baking!")